.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contact_info {
  font-size: 32px;
}

.contact_info a {
  color: white;
}

/*
.contact_info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: x-large;
    margin: 50%;
}
 */
